.botones-container{
    /* Padre => display: grid; */
    grid-column: 1/-1;
    
    display: flex;
    gap: 2rem;

    align-items: center;
    justify-content: end;

    padding-right: 10rem;
}

.btn{
    height: 5rem;

    padding: 0 1.5rem;

    border-radius: 0.5rem;

    cursor: pointer;
}

.btn__text{
    font-size: 1.5rem;
}

.btn__background--cancel{
    border: 1px solid rgb(175, 143, 111);

    &:hover{
        background-color: rgb(221, 147, 147);
    }
}

.btn__background--save{
    background-color: rgb(175, 143, 111);

    &:hover{
        filter: brightness(70%);
    }
}


.centered-inlineGrid{
    display: inline-grid;
    justify-content: center;
    align-content: center;
}

.agregar{
    border: 1px solid black;
}

.agregar__amigo{
    & i{
        grid-column: 1/-1;
        grid-row: 1/-1;

        color: wheat;
        cursor: pointer;
    }
}

.agregar__libro{
    width: 5rem;
    height: 5rem;

    align-self: center;

    cursor: pointer;
}

.justified__content{
    justify-content: center;
}

@media screen and (max-width: 400px) {
    
    .botones-container{
        padding: 0;
        margin-bottom: 3rem;

        justify-content: center;
    }
}
