.botones-container{
    /* Padre => display: grid; */
    grid-column: 1/-1;
    
    display: flex;
    gap: 2rem;

    place-content: end;

    padding-right: 10rem;
}

.btn{
    height: 5rem;

    padding: 0 1.5rem;

    border-radius: 0.5rem;

    cursor: pointer;
}

.btn__text{
    font-size: 1.5rem;
}

.btn__background--cancel{
    border: 1px solid rgb(175, 143, 111);

    &:hover{
        background-color: rgb(221, 147, 147);
    }
}

.btn__background--save{
    background-color: rgb(175, 143, 111);

    &:hover{
        filter: brightness(70%);
    }
}