/* LAYOUR LIBROS */
.busquedaLibross{
    /* UNICO */
    display: grid;
    width: 70%;
    justify-content: center;
    align-items: center;
    
    grid-template-columns: repeat(auto-fit,minmax(min(32rem, 60rem),0.6fr));
    grid-auto-rows: 20rem;
    
    /* COMPARTIDO CON LAYOUT CARDS */
    display: grid;
    width: 70%;
    gap: 2rem;
    margin: 3rem auto 8rem;
}

.busquedaLibros{
    display: grid;
    gap: 2rem;
    width: 70%;
    margin: 3rem auto 8rem;

    /* UNICO DE LAYOUT CARDS */
    grid-template-columns: repeat(auto-fit,minmax(min(32rem, 60rem),0.6fr));
    justify-items: center;
    align-items: center;

}