
.container-titulo{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: var(--text-xl);
}

.el__titulo{
    width: 70%;
    font-size: var(--text-xl);
}



.reseña{
    width: 70%;
    font-size: var(--text-md);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: justify;
  }