h1{
    font-size: var(--text-xl);
}

b{
    font-size: var(--text-md);
}

.reseña{
    width: 70%;
    font-size: var(--text-md);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: justify;
  }