
.container-titulo{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: var(--text-xl);
}


.resenia{
    width: 70%;
    font-size: var(--text-md);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }

  .contenedorTitulo{
    display: flex;
    flex-direction: column;
    width: 70vw;
    position: relative;
    margin-top: 3rem;
    
    & svg{
        position: absolute;
        right: 0;
        cursor: pointer;
        fill: blue;
    }
  }