/* EFFECTOS DE SOMBREADOS, ANIMACIONES ,ETC */

/* INPUT text. Trabaja con .textbox-container(padre) > (input, label)(hijos)*/
div.textbox-container{
    & input {
        border-radius: 1rem;
        border-color: var(--color-fondo);
        outline: none;
    }

    & label {
        text-transform: uppercase;
        pointer-events: none;
        transition: 0.25s;
        padding: 0.15rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--text-xs);
        font-weight: normal;
    }

    &   input:focus {
        border-color: var(--color-searchbar);
        border-radius: 1rem;
    }

    /* SI el input es focuseado, o tambien si es valido. SE aplican los estilos al proximo label dentro del mismo container */
    &   input:focus ~ label,
        input:valid ~ label{
            transform: translateY(-1.5rem);
            font-size: 0.8em;
            background-color: var(--color-searchbar);
            border: solid;
            border-radius: 1rem;
            border-color: var(--color-searchbar);
        }
}
/* INPUT radio . Trabaja con label.radiobox-input(padre) > input(hijo)*/
label.radiobox-input, label.checkbox-input{
    font-size: var(--text-sm);
    gap: 2rem;
    background-color: var(--color-celeste-claro);
    filter: brightness(95%);
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background 0.1s;

    /* & input{
        visibility: hidden;
        width: 0%;
    } */

    &:has(> input:checked){
        text-transform: uppercase;
        background-color: var(--color-celeste-oscuro);
        color: whitesmoke;
        filter: brightness(100%);
        filter: drop-shadow(1px 2px 4px rgb(24, 23, 23));
    }
}

input:invalid {
    border:1px solid red;
}

.hover-boxshadow{
    &:hover{
        box-shadow: var(--shadow-elevation-high);
    }
}

.hover-delete{
    &:hover{
        border-radius: calc(var(--borde-default)/2);
        background-color: var(--color-cancel);
    }
}

.hover-click:active{
 box-shadow: 0 0 2px darkslategray;
 transform: translateY(2px);
}

.scrollbar::-webkit-scrollbar {
    width: 0.8rem; 
    margin-left: 1rem;
}
  
.scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-fondo);
    /* margin-left: 1rem; */
}
  
.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-header);
    /* margin-left: 1rem;    */
    border-radius: 2rem;  
}


/* EFFECTO EN EL BORDE */

.borde--iluminado{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
/* Borde animado */
.borde--iluminado::before {
    content: "";
    position: absolute;
    inset: -10rem;
    background-image: conic-gradient(var(--color-header) 20deg, transparent 60deg);
    animation: rotate 8s linear infinite;
    z-index: -1;
}

/* Fondo del formulario */
.borde--iluminado::after {
    content: "";
    position: absolute;
    inset: 1.5rem;
    background: inherit; /* usa el fondo del formulario */
    z-index: -1; 
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* HOVER PARA OPCIONES */
.opcion__effect--hover{
    transition: 0.25s;
    &:hover{
        box-shadow: var(--shadow-elevation-high);

    }
}

.effect-shadow-hover {
    &:hover {
        text-shadow: 2px 2px 7px black;
    }
}

/* LETRA NEGRITA SI ESTA SELECCIONADA */
.opcion--seleccionada{
    
    & h4 {font-weight: bold;
    filter: drop-shadow(1px 2px 4px rgb(133, 125, 125));}

}
