
.encabezado {
    display: flex;
    align-items: center;
    margin-left: 2rem ;
    height: 100%;
    & h1{      
      font-size: var(--text-xxl);
        color: var(--color-blanco);
        font-family: var(--fuente-default);
        display: flex;
        justify-content: center;
        
        &:hover{
          cursor: pointer;
          
      }
    }

    & svg{
        width:var(--text-xxl);
        
        &:hover{
          cursor: pointer;
        }

    }

}
