@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); /* Consultar si importarla o linkearla*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
  font-size: 62.5%; /* equivale a 10px */
}

:root {
  
  --fuente-default:"Source Sans 3", sans-serif;
  --color-header: #C39898;
  --color-searchbar: #DBB5B5;
  --color-fondo: #F1E5D1;
  --border-default: solid;
  --border-width: 1px;
  --color-link:
}

body {
    justify-content: center;
    align-items: center;
    background: var(--color-fondo);
    font-family: var(--fuente-default);
    height: auto;
    min-height: 100vh;
}


.nombre-app {
  font-size: 1.8rem;
  font-family: var(--fuente-default);
  display: flex;
  justify-content: center;
}

.logo {
  height: 3rem;
}

.logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}