* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
  font-size: 62.5%;
}

:root {
  
  --fuente-default:"Oswald", sans-serif;
  --color-primario: 
  --color-secundario:
  --ancho-default: 
  --border-default:
  --filtro-color-primario:
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(249, 219, 186), rgb(247, 245, 245));
}

.nombre-app {
  font-size: 3rem;
}
