@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); /* Consultar si importarla o linkearla*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
  font-size: 62.5%; /* equivale a 10px */
}

:root {
  
  --fuente-default:"Source Sans 3", sans-serif;
  --color-header: #ff8a65;
  --color-searchbar: #ffab91;
  --color-fondo: #fff3e0;
  --color-cards: #e7e5e2da;
  --border-default: solid;
  --border-width: 1px;

  --text-xxl: 3.5rem;
  --text-xl: 2.5rem;
  --text-lg: 2.1rem;
  --text-md: 1.8rem;
  --text-sm: 1.5rem;
  --text-xs: 1.3rem;
  --text-xxs: 1rem;

}

body {
  justify-content: center;
  align-items: center;
  background: var(--color-fondo);
  font-family: var(--fuente-default);
  display: flex;
  flex-direction: column;
}

.nombre-app {
  font-size: var(--text-md);
  font-family: var(--fuente-default);
  display: flex;
  justify-content: center;
  
  &:hover{
    cursor: pointer;
}
}

.logo {
  height: var(--text-xxl);

  &:hover{
    cursor: pointer;
}
}

.logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

