/* LAYOUT HEADER CON SUS ESTILOS, SEPARAR DIMENSIONES, DE ESTILOS */
header {

    background: var(--color-header);
    width: 100vw;
    height: var(--height-header);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--color-header);
    z-index: 1;
}
/* UNICO EN HEADER */
.miPerfil {
    /* UNICAMENTE PARA COMODIDAD DEL DROPDOWN */
    height: 100%;
    display: flex;
    position: relative;
    
    & a.miPerfil--ir{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-right: 2rem;
        
        
        & img.fotoPerfil{
            width: 5.5rem;
            height: 5.5rem;
            border: 1px solid orangered;
            border-radius: 50%;
        }
        
        & p{
            font-size: var(--text-md);
            font-weight: bold;
        }
        
        & .hamburguesita--tabletMobile{
            display: none;
        }
    } 
    &:hover{
        cursor: pointer;
    }
}
/* PANEL QUE APARECE CUANDO SE HOVEREA */
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    /* transición comienza lentamente, acelera en el medio y desacelera de nuevo al final*/
    transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out;
}

.dropdown-content {
    width: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    
    position: absolute;
    top: 100%;
    transition: opacity 1s ease-in-out , visibility 1s ease-in-out; /* para ocultarse de nuevo */
    background-color: var(--color-searchbar);
    border-radius: 0 0 1rem 1rem;
}
/* TABLE*/
@media screen and (max-width: 768px) {
    .miPerfil {
        & a.miPerfil--ir{
            width: 15rem;
            justify-content: center;

            & img.fotoPerfil{
                display: none;
            }
    
            & p{
                display: none;
            }
            & b {
                font-size: 0.5rem;
            }
            & .hamburguesita--tabletMobile{
                display: flex;
                /* justify-content: center; */
                /* align-items: center; */
            }
        } 
    }
        
}

/* MOBILE*/
@media screen and (max-width: 400px) {
    header{
        position: fixed;
        bottom: 0vh;   
    }
    .dropdown-content{
        transform: translateY(-100%);
    }
}