header {
    background: var(--color-header);
    width: 100vw;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    /* margin-bottom: 0.1rem; */
}

.encabezado {
    display: flex;
    align-items: center;
}

.derecha {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;

    &:hover{
        cursor: pointer;
    }
}

.derecha-mq{
    position: absolute;
    width: 3.9rem;
    height: 3.9rem;
    object-fit: cover;
    right: 1.5rem;
    z-index: 0;
    display: none;

    &:hover{
        cursor: pointer;
    }
}
svg{
    width: 100%;
    height: 100%;
}

.foto-perfil {
    width: 4.5rem;
    height: 4.5rem;
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1.5px solid brown;
}

.nombre-perfil {
    font-size: var(--text-md);
    font-weight: bold;

}

/* medias querys tablet*/
@media screen and (min-width: 401px) and (max-width: 768px) {
    .derecha {
        z-index: 0;
        display: none;  
    }
    .derecha-mq{
        z-index: 1;
        display: block;
    }
        
}
    
/* medias querys celular*/
@media screen and (max-width: 400px) {
    header{
        position: fixed;
        bottom: 0vh;   
    }
    .derecha-mq{
        z-index: 1;
        display: block;
    }
    .derecha {
        z-index: 0;
        display: none;  
    }

}