header {
    background: rgb(175, 143, 111);
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 0.1rem;
}

header :first-child {
    display: flex;
    align-items: center;
}

header :last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.foto-perfil {
    width: 5rem;
    height: 5rem;
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1.5px solid brown;
}

.nombre-perfil {
    font-size: 1.5rem;
    color: antiquewhite;
}