article.libro{
    width: 100%;
    height: 100%;

    border-radius: var(--borde-default);
}

.libro{
    /* height: auto; */
    width: max-content;
    display: grid;
    grid-template-areas:
    "portada descripcion acciones";
    grid-template-columns: 0.1fr 1.5fr 0.1fr;
    gap: var(--books-default);
    padding: var(--books-default);
    background-color: var(--color-hover-amigos);
    transition: 0.25s;
}
.libro__portada{
    width: 10rem;
    grid-area: portada;
    & img{
        width: 100%;
    }
}

.libro__contenido{
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    gap: calc(var(--books-default)/2);
    & .libro__titulo{
        font-weight: bold;
        font-size: var(--text-md);
        /* text-overflow:ellipsis; */
        white-space: wrap;
    }
    & .libro__autor{
        margin-bottom: 0.2rem;
        font-size: var(--text-sm);
        /* overflow: hidden;
        text-overflow: ellipsis;
        */
        white-space: wrap; 
    }
    & .libro__info{
        & .dato{
            display: flex;
            gap: calc(var(--books-default)/4);

            font-size: var(--text-xs);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.libro__acciones{
    width: 3rem;
    
    grid-area: acciones;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .accion{
        cursor: pointer;
        &:hover{
            filter: drop-shadow(0 0 0.75rem rgb(36, 16, 21));
        }
    }
}
