/* body{
    background-image: url('https://img.freepik.com/fotos-premium/estandarte-ilustracion-sencilla-dia-mundial-libro_1027230-33688.jpg?w=826');
    background-size:cover;
} */
.contenedorFormulario{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.formulario-login {
    display: flex;
    flex-direction: column;
    width: 40rem;
    min-width: 30rem;
    padding: 2rem;
    background: linear-gradient(to bottom, var(--color-searchbar),var(--color-header));
    /* rgba(245, 98, 13, 0.678 */
    border-radius: 2rem;
    
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    height: 4rem;
}


.formulario {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;/*  */
}

label {
    margin-bottom: 0.5rem;
    font-size: var(--text-md);
}

span {
    color: red;
}

input[type="text"],
input[type="password"] {
    height: 3.8rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    box-sizing: border-box;
    
    outline: none;
    
    &:focus{
        border: 1px solid red;
    }
    
}

.advertencia {
    height: 2rem;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.advertencia svg {
    width: var(--text-sm);
    height: var(--text-sm);
    fill: red;
}

.advertencia span {
    color: red;
    font-size: var(--text-sm);
}

.password-icon {
    position: absolute;
    right: 1rem;
    top: 3.3rem;
    display: flex;
}

.submit-btn {
    padding: 1rem;
    background-color: orangered;
    color: black;
    border: none;
    border-radius: 1rem;
    font-size: var(--text-md);
    margin-top: 2rem;
    
    &:hover{
        cursor: pointer;
        box-shadow: inset 0 0 0 2px black;
    }
}

.registrarse{
    font-size: var(--text-xs);
    margin-top: 1rem;
    font-weight: bold;
    justify-content: center;
    & span{
        cursor: pointer;
    }
}
