.fondo-background{
    background-image: url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size:cover;
}
.contenedorFormulario{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.formulario-login {
    width: 40rem;
    min-width: 30rem;

    display: flex;
    flex-direction: column;
    padding: 4rem;
    background: linear-gradient(to bottom, var(--color-searchbar),var(--color-header));
    border-radius: 2rem;
    gap: 1.5rem;
}

.encabezado {
    height: 4rem;
    
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
}

.campo {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.5rem;

    & label{
        font-size: var(--text-md);
        font-weight: bold;
    }

    & input {
        height: 4rem;
        padding: 1rem;
        border: 1px solid grey;
        border-radius: 0.5rem;
        box-sizing: border-box;
        font-size: var(--text-md);
        
        outline: none;
        
        /* &:focus{
            border: 1px solid red;
        } */
    }
}

.campo__aclaracion{
    & .aclaracion{
        color: var(--color-cancel);
        display: flex;
        align-items: center;
        font-size: var(--text-xs);
        font-weight: bold;
    }
    & .aclaracion svg{
        fill: var(--color-cancel);
    }
}
.campo--obligatorio{
    & label:after { content:" *"; color:var(--color-cancel);}
}

.campo--privado{
    & .ocultar, .revelar svg{
        position: absolute;
        right: 1rem;
        bottom: 0.2rem;
        cursor: pointer;
        fill:var(--color-cancel);
    }
}

.registrarse{
    font-size: var(--text-md);
    font-weight: bold;
    justify-content: center;
    & span{
        cursor: pointer;
        color: var(--color-cancel);
    }
}
