.opcion{
    display: flex;
    padding: 0 1rem 0;

    font-size: var(--text-md);
    border-radius: 0.5rem;
    background-color: var(--color-header);
    cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* .opcion--perfilUsuario TRABAJA ASI */
/*  
                <a href="/html/perfilUsuario_info.html" class="opcion opcion--perfilUsuario">
                    <i class="ph ph-info-bold"></i>
                    <p>Informacion</p>
                </a>
*/
.opcion--perfilUsuario{
    width: fit-content;
    gap: calc(var(--perfilUsuario-default)/4);
    & i{    align-items: center;    }
}

/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* .opcion--dropdown TRABAJA ASI */
/*
                <a href="/html/perfilUsuario_info.html" class="opcion opcion--perfilUsuario">
                    <i class="ph ph-info-bold"></i>
                    <p>Informacion</p>
                </a>
*/
.opcion--dropdown{
    width: 100%;
    justify-content: center;

    & svg{
        /* OCULTA EL ICONO, DEJA EL */
        display: none;
    }
}

@media screen and (max-width: 768px) {
    /* OCULTA TEXTO, Y DEJA EL ICONO */
    .opcion--dropdown{
        & p{ display: none;}
    }
    .opcion--dropdown{
        & svg{
            display: flex;
        }
    }
        
}

