/* Este archivo se lee en orden de la siguiente manera: */
    /* 1 - DIMENSIONES CONTENEDOR   */
    /* 2 - POSICIONAMIENTO          */
    /* 3 - DISTRIBUCION ELEMENTOS   */
    /* 4 - ESTILOS                  */

    /* NECESITO
    - Pasar todo lo relacionado a imagenes a un archivo aparte
    -Hacer clase general para display flex ,direction column-row
        luego de ahi especifico el
     */
.perfil-usuario{
    /* header y botones-container mismo height, por eso el *2*/
    height: calc(100vh - var(--height-header)*2);
    width: 100%;
    
    display: flex;
    gap: var(--gap-perfilUsuario);
    padding: var(--padding-perfilUsuario) var(--padding-perfilUsuario) 0rem;

    /* Sin esto no puedo scrollear y alguna opciones del panel  */
    overflow-y: auto;
}

.panelOpciones{
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-perfilUsuario)/2);
}
.panelOpciones__identificacion{
    display: flex;
    flex-direction: column;
    align-items: center;

    & .foto{
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }

    & .nombre{
        font-size: var(--text-xl);
        font-weight: bold;
        text-decoration: underline;
    }
}
.panelOpciones__seleccionables{
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-perfilUsuario)/4);

    & .seleccionable{
        width: fit-content;

        padding: 0 1rem 0;
        display: flex;
        gap: calc(var(--gap-perfilUsuario)/4);
        
        font-size: var(--text-md);
        cursor: pointer;
        transition: 0.25s;
        border-radius: 0.5rem;
        & i{    align-items: center;    }
        background-color: var(--color-header);
        

        &:hover{
            box-shadow: var(--shadow-elevation-high);
        }
    }
}

.seleccionable--seleccionado{
    font-weight: bold;
    /* filter: drop-shadow(1px 2px 4px rgb(133, 125, 125)); */
    /* filter: drop-shadow(1px 2px 4px var(--shadow-color)); */
    /* Para modificar el font-weight del icono de phosporicons le agrego '-bold' al dfinal de la classe del icono. 
    E.g: 'ph ph-users-three' es NO BOLD => 'ph ph-users-three-bold' es BOLD */
}
a{
    width: fit-content;
    text-decoration: none;
    color: black;
}
.botones-container{
    height: var(--height-header);
    width: 100%;

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    background-color: var(--color-searchbar);
}

@media screen and (max-width: 768px) {
    .perfil-usuario{
        height: auto;
        
        padding:    calc(var(--padding-perfilUsuario)/2)
                    calc(var(--padding-perfilUsuario)/2)
                    0rem;
        gap: calc(var(--gap-perfilUsuario)/2) ;
        flex-direction: column;
    }
}


