/* Este archivo se lee en orden de la siguiente manera: */
    /* 1 - DIMENSIONES CONTENEDOR   */
    /* 2 - POSICIONAMIENTO          */
    /* 3 - DISTRIBUCION ELEMENTOS   */
    /* 4 - ESTILOS                  */

.perfil-usuario{
    /* 6rem del header*/
    height: calc(100vh - 6rem);
    width: 100%;
    
    padding: 3rem 3rem 0 3rem;
    
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: 85% 15%;

}

.panelOpciones__identificacion{
    display: flex;
    flex-direction: column;
    align-items: center;

    & .foto{
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }

    & .nombre{
        font-size: 3rem;
        font-weight: bold;
        border-bottom: 1px solid black;
    }
}
.panelOpciones__seleccionables{

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2rem;

    & .seleccionable{
        width: fit-content;
        
        display: flex;
        gap: 1rem;

        cursor: pointer;
        & i{
            align-items: center;
        }

        & span, i {
            font-size: 1.7rem;
        }
    }
}

.seleccionable--seleccionado{
    font-weight: bold;
    /* Para modificar el font-weight del icono de phosporicons le agrego '-bold' al dfinal de la classe del icono. 
    E.g: 'ph ph-users-three' es NO BOLD => 'ph ph-users-three-bold' es BOLD */
}

/* medias querys tablet*/
/* @media screen and (min-width: 401px) and (max-width: 768px) {
        
} */
    
/* medias querys celular*/
@media screen and (max-width: 400px) {
    
    .perfil-usuario{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        /* EL 6rem bottom es por el header. Para que el contenido este visible*/
        padding: 3rem 3rem 6rem 3rem;
    }

    .panelOpciones__seleccionables{

        display: flex;
        flex-direction: column;
    
        & .seleccionable{
            & span, i {
                font-size: 2.7rem;
            }
        }
    }
}