.valoraciones {
  display: grid;
  height: 100%;
  grid-template-columns: 2.5fr 2.5fr;
  grid-template-rows: 12rem 12rem;
}

.valoraciones-titulo {
  grid-column: 1/-1;
  height: fit-content;
  font-size: 4.5rem;
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.valoracion{
  display: grid;
  grid-template-columns: 0.20fr 0.5fr 0.25fr;
  grid-row: 2rem 6rem;
}

.foto-perfil-rese単a{
  height: 8rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.datos-rese単a{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.valoracion-rese単a{
  text-align: center;
  font-size: 4rem;
}

.valoracion-usuario{
  font-size: 4rem;
}

.valoracion-fecha{
  font-size: 2.5rem;
}

.contenido-valoracion{
  grid-column: 1/-1;
  font-size: 2.5rem;
}

.contenedor-agregar-rese単a{
  display: flex;
  justify-content: center;
  align-items: end;
}


