.valoraciones {
  grid-column: 1/-1;
  display: grid;
  height: 100%;
  grid-template-columns: 2.5fr 2.5fr;
  grid-template-rows: 8rem 12rem;
  padding: 2rem;
}

.valoraciones-titulo {
  grid-column: 1/-1;
  height: fit-content;
  font-size: 4.5rem;
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.estrella-valoraciones{
  width: 3rem;
  height: 3rem;
}

.valoracion{
  grid-column: 1/-2;
  display: grid;
  grid-template-columns: 0.20fr 0.5fr 0.25fr;
  grid-row: 2rem 6rem;
}

.foto-perfil-reseña{
  height: 5.35rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.datos-reseña{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.valoracion-reseña{
  text-align: center;
  font-size: 2rem;
}

.valoracion-usuario{
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.valoracion-fecha{
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.contenido-valoracion{
  grid-column: 1/-1;
  font-size: 1.5rem;
}

.contenedor-agregar-reseña{
  display: flex;
  justify-content: center;
  align-items: end;
}

@media (max-width: 768px) and (min-width: 401px){
  .valoraciones{
    grid-template-columns: 1.5fr 1.5fr;
    padding: 1rem;
  }


  .valoracion-reseña{
    text-align: end;
  }
}

@media (max-width: 400px){
  .valoraciones{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: 1.5rem;
  }

  .valoraciones-titulo{
    align-content: space-around;
  }
}
