.opcionSeleccionada__amigos {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
}

.buttonsFooter {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}