<section class = "opcionSeleccionada__amigos">
    <h2>Friends</h2>

    <section class = "friendsList">
        @for (friend of friends; track friend){
            <app-amigos [userFriend]="friend" (enviarAmigo)="ocultar($event)"></app-amigos>
        }  
    </section>
    <section class = "buttonsFooter">
            <app-boton-agregar *ngIf="agregarAmigosNuevos()" [view]="'my-profile'" [tipo]="'new-friends'" data-testid="button-agregar"></app-boton-agregar>
            <app-btn-guardar-cancelar (guardar)="actualizarAmigos()" (cancelar)="volverHome()"></app-btn-guardar-cancelar >
    </section>
</section>