.valoraciones {
    align-items: center;
    margin-bottom: 7rem;
}

.puntuacion{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

.estrella-dorada {
    width: 3rem;
    height: auto;
}

.valoraciones__individuales {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    place-items: center;
}



