.valoraciones {
    align-items: center;
    margin-bottom: var(--height-header);
}

.puntuacion{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    margin: 1rem;
}

.estrella-dorada {
    width: var(--text-xl);
    height: var(--text-xl);
}
.valoraciones__individuales {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: var(--space-md);
}


article{
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding: var(--space-md);
}

.perfil-valoracion {
    display: grid;
    grid-template-columns: 5.5rem 10rem;
    grid-template-rows: auto;
    justify-content: center;
    padding: var(--space-md);
    gap: 1rem;
    & img{
        place-self: center;
        width: var(--image-small);
        height: var(--image-small);
        border-radius: 50%;
    }
}

.descripcion{
    font-size: var(--text-md, 1.2em);
    text-align: justify;
}

.botonalineado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
}

.agregar {
    background-color: var(--color-header);
    color: white;
    border: none;
    padding: 5px;
    height: 5rem;
    width: 5rem;
    box-shadow: 1px 2px 4px rgb(24, 23, 23);
    border-radius: 50%;
}

.agregar:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}
