<div class="user__profile-shortcut" (click)="changeDisplay()">
    <app-user-identification [user]="user"></app-user-identification>

    <svg-icon src="svg/burguer.svg" [svgStyle]="{ 'fill': 'white'}"></svg-icon>

    <app-dropdown-menu [show]="displayShorcut">
        <div *ngFor="let option of options_shortcutMenu" [routerLink]="['/', option.path]"
            routerLinkActive="router-link-active">
            <app-option [option]="option" appHoverBoxshadow appBgColor></app-option>
        </div>
    </app-dropdown-menu>
</div>