.user__profile-shortcut{
    height: 100%;
    justify-content: center;
    display: flex;
    gap: var(--space-md);
    
    position: relative;
    align-items: center;

    & img{
            width: var(--image-small);
            height: var(--image-small);
            border-radius: 50%;
        }
        
    }
