/* Este archivo se lee en orden de la siguiente manera: */
    /* 1 - DIMENSIONES CONTENEDOR   */
    /* 2 - POSICIONAMIENTO          */
    /* 3 - DISTRIBUCION ELEMENTOS   */
    /* 4 - ESTILOS                  */


    
    .foto{
        width: 12rem;
        height: 12rem;
    }
    
    .nombre{
        text-align: center;
    }
    
    
    
    @media screen and (max-width: 768px) {
        .perfil-usuario{
            height: auto;
            
            padding:    calc(var(--perfilUsuario-default)/2)
                        calc(var(--perfilUsuario-default)/2)
                        0rem;
            gap: calc(var(--perfilUsuario-default)/2) ;
            flex-direction: column;
        }
    }
    
    
    
    
    