<main class="contenedor_edicion_recomendacion">
    
    <div *ngIf="noPuedeEditar()" class="contenedorTitulo">
        <h1>{{recomendacion.title}}</h1>
        <img *ngIf="recomendacion._public" src="svg/privada.svg" alt="" >
        <img *ngIf="!recomendacion._public" src="svg/publica.svg" alt="" >
    </div>
    
    <div *ngIf="!noPuedeEditar()" class="contenedorTitulo">
        <input class="input-titulo" type="text" value={{recomendacion.title}} [(ngModel)]="recomendacion.title" placeholder="  Titulo de la recomendacion"/>
        <label class ="contenedorTitulo__label">
          <input type="checkbox" [(ngModel)]="recomendacion._public">
          <h5>Visibilidad privada</h5>
        </label>
    </div>
 
    <app-container-books>
        @for (book of recomendacion.recommendedBooks; track book){
            <app-libro [book]="book"></app-libro>
            }
    </app-container-books>

    <div  *ngIf="noPuedeEditar()" class="resenia">
        <h2>Reseña</h2>
        <p class="descripcion">
            {{recomendacion.description}}
        </p>
        <hr>
    </div>
    
    <div *ngIf="!noPuedeEditar()" class="resenia">
        <h2>Reseña</h2>
        <input
        [(ngModel)]="recomendacion.description"  
        class="descripcion"
          type="text"
          value={{recomendacion.description}}
        />
        <hr>
    </div>

    <app-valoracion [valoraciones]="recomendacion.valorations"></app-valoracion>

    <app-btn-guardar-cancelar 
        *ngIf="!noPuedeEditar()"
        (guardar)="editarRecomendacion()"
        (cancelar)="cancelar()">
    </app-btn-guardar-cancelar>

    <app-volver-atras *ngIf="noPuedeEditar()" ></app-volver-atras>

</main>
