article{
    max-width: 35rem;
    height: 100%;
    border-radius: var(--borde-default);
    display: grid;
    gap: var(--space-md);
    padding: var(--space-md);
    
    &:hover{
        box-shadow: var(--shadow-elevation-high);
    }
}

.libro {
    grid-template-areas:
    "portada descripcion acciones";
    grid-template-columns: 0.1fr 1.5fr 0.1fr;
    
    background: linear-gradient(to bottom, var(--color-card-libro), var(--color-card-libro-gradiente));
    transition: 0.25s;
}

.libro__portada{
    width: 10rem;
    height: 15rem;
    grid-area: portada;
    border-radius: 1rem;
}

.libro__contenido{
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: 1rem;
    /* overflow: hidden; */
    
    & .libro__autor{
        margin-bottom: 0.2rem;
        font-size: var(--text-sm);
    }
    .libro__info{
        & .dato{
            display: flex;
            flex-direction: row; 
            justify-items: center;
            align-items: center;
            gap: var(--space-xs);
            margin: var(--space-xs);

            & svg{
                width: var(--text-xs);
                height: var(--text-xs);
            }
        }
    }
}

