<div class="resenia ">
    <h2>Reseña</h2>
    <p class="descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        distinctio cumque aspernatur adipisci, numquam repudiandae unde reiciendis
        ratione exercitationem id facere consequuntur maxime amet nemo nam
        similique eos iste autem. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Ad dolores fugit consequatur tempore laboriosam dolorum.
        Laborum, pariatur ipsam? Sed consectetur reprehenderit quibusdam veritatis
        fugiat aperiam dolor esse recusandae accusamus excepturi?
    </p>
    <hr>
</div>

<div  class="resenia">
    <h2>Reseña</h2>
    <input
      type="text"
      placeholder="  Escriba aqui una reseña"
    />
    <hr>
</div>