
.opcionSeleccionada__libros{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 32rem), 0.8fr));
    
    gap:2rem;
    margin: 1rem;
    overflow-y:auto;  /* permite scroll */
    max-height: 60vh;  /* establece  naximo de altura */
}

