
.librosContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 34rem), 0.4fr));
    
    gap:1.5rem;
    padding-top: 1rem;
    overflow-y:auto;  
    height: 51vh;  
    text-align: center;
    justify-content: space-around;
    padding-right: 1rem;
}

.librosContainer::-webkit-scrollbar {
    width: 0.8rem;
    margin-left: 0.5rem;
}

.librosContainer::-webkit-scrollbar-track {
    background-color: var(--color-fondo);
}

.librosContainer::-webkit-scrollbar-thumb {
    background-color: var(--color-header);
    border-radius: 2rem;
}