<main class="contenedor_edicion_recomendacion">

    <div  class="contenedorTitulo">
        <input class="input-titulo" type="text" placeholder="  Titulo de la recomendacion"/>
        <label class ="contenedorTitulo__label">
          <input type="checkbox">
          <h5>Visibilidad privada</h5>
        </label>
    </div>

    <app-profile-books-to-read></app-profile-books-to-read>

    <!-- <app-input [objeto]= "texto" [label]="'Escribe una nueva valoracion'" ></app-input> -->

    <app-valoracion ></app-valoracion>

    <app-btn-guardar-cancelar></app-btn-guardar-cancelar>
    
</main>