/* Este archivo se lee en orden de la siguiente manera: */
/* 1 - DIMENSIONES CONTENEDOR   */
/* 2 - POSICIONAMIENTO          */
/* 3 - DISTRIBUCION ELEMENTOS   */
/* 4 - ESTILOS                  */

.perfil-usuario {
    /* header y botones-container mismo height, por eso el *2*/
    width: 100vw;
    height: 80vh;
    display: flex;
    padding-bottom: 0;
    overflow-y: auto;
    gap: var(--space-xl);
    padding: var(--space-xl);

        :is(app-contenedor-section){
                width: 100%;
                height: 100%;
                padding: 1rem;
                padding-top: 2rem;
                border: 1px solid rgb(168, 167, 167);
                gap:2rem;
                border-radius: 2rem;        
        }
}

@media screen and (max-width: 768px) {
    .perfil-usuario{
        height: auto;
        display: flex;
        
       
        flex-direction: column;
    }
}