
.librosContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 34rem), 0.6fr));
    
    gap:1rem;
    /* margin: 1rem; */
    overflow-y:auto;  /* permite scroll */
    height: 49vh;  /* establece  naximo de altura */
    text-align: center;
    margin-bottom: 1rem;
}



.librosContainer::-webkit-scrollbar {
    width: 0.8rem;
    margin-left: 0.5rem;
}

.librosContainer::-webkit-scrollbar-track {
    background-color: var(--color-fondo);
}

.librosContainer::-webkit-scrollbar-thumb {
    background-color: var(--color-header);
    border-radius: 2rem;
}