<main>

    <div class="form__container">

        <app-encabezado></app-encabezado>

        <!-- ------------------------ -->
        <!-- Log in Form -->
         <!-- ------------------------ -->
        <div class="form__inputs" *ngIf="this.showFormLogin()">
            <div class="campo">
                <input type="text" id="username" name="username" maxlength="30" required [(ngModel)]="loginRequest.username" (keyup.enter)="tryLogin()">
                <label for="username">Username</label>
            </div>

            <div class="campo">
                <input type="text" id="password" name="password" maxlength="30" required [(ngModel)]="loginRequest.password" (keyup.enter)="tryLogin()">
                <label for="username">Password</label>
            </div>
            <div class="actions">
                <button class="btn btn__signIn" (click)="tryLogin()">Login</button>
                <button class="btn btn__createAccount" (click)="changeToCreateAccount()">Create Account</button>
                <button class="btn btn__passwordRecovery" (click)="changeToPasswordRecovery()">Password Recovery</button>
            </div>
            
        </div>

        <!-- ------------------------ -->
        <!-- Password Recovery Form -->
         <!-- ------------------------ -->
        <div class="form__inputs" *ngIf="this.showFormCreateAccount()">
            <div class="campo">
                <input type="text" id="email" name="email" maxlength="30" required [(ngModel)]="newAccountRequest.email">
                <label for="username">Email</label>
            </div>

            <div class="campo">
                <input type="text" id="username" name="username" maxlength="30" required [(ngModel)]="newAccountRequest.username">
                <label for="username">Password</label>
            </div>

            <div class="campo">
                <input type="text" id="password" name="password" maxlength="30" required [(ngModel)]="newAccountRequest.password">
                <label for="username">Username</label>
            </div>

            <div class="campo">
                <input type="text" id="name" name="name" maxlength="30" required [(ngModel)]="newAccountRequest.name">
                <label for="username">Name</label>
            </div>
            <div class="actions">
                <button class="btn btn__createAccount" (click)="tryCreateAccount()">New account</button>
                <button class="btn btn__signIn" (click)="changeToLogin()">Go back to Login</button>
            </div>
            
        </div>

        <!-- ------------------------ -->
        <!-- Password Recovery Form -->
         <!-- ------------------------ -->
        <div class="form__inputs" *ngIf="this.showPasswordRecovery()">
            <div class="campo">
                <input type="text" id="email" name="email" maxlength="30" required [ngModel]="passwordRecoveryRequest.email">
                <label for="username">Email</label>
            </div>

            <div class="campo">
                <input type="text" id="username" name="username" maxlength="30" required [(ngModel)]="passwordRecoveryRequest.username">
                <label for="username">Username</label>
            </div>
            <div class="actions">
                <button class="btn btn__passwordRecovery" (click)="tryPasswordRecovery()">Recover password</button>
                <button class="btn btn__signIn" (click)="changeToLogin()">Go back to Login</button>
            </div>
        </div>

    </div>
</main>