.botones-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: var(--space-lg);
    width: 100%;
    height: auto;
    background-color: var(--color-fondo);
    margin-top: 2rem;
}

.btn-cancelar {
    height: 5rem;
    width: 7rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--color-cancel);
    background-color: var(--color-fondo);
    font-size: var(--text-md);
    filter: brightness(90%);
    transition: background-color 0.3s ease, filter 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: var(--color-cancel);
        color: aliceblue;
        filter: brightness(100%);
    }
}

.btn-guardar {
    height: 5rem;
    width: 7rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: var(--text-md);
    background: linear-gradient(to bottom, var(--color-save), var(--color-save-gradient));
    filter: drop-shadow(0 0 0.75rem rgb(78, 76, 77));
    transition: filter 0.3s ease;

    &:hover {
        filter: brightness(140%);
    }
}

@media screen and (max-width: 400px) {
    .botones-container {
        margin-bottom: var(--height-header);
        justify-content: center;
    }
}
