<form [formGroup]="form" class="form__inputs">

    <div class="campo">
        <input type="text" id={{formLabels.email}} name={{formLabels.email}} formControlName={{formLabels.email}}>
        <label for={{formLabels.email}}>Email</label>
        <div class="input__required" *ngIf="warning(formLabels.email)">
            <span *ngIf="this.form.controls[formLabels.email].errors?.['required']">* Required</span>
            <span *ngIf="this.form.controls[formLabels.email].errors?.['email']">email&commat;domain</span>
        </div>
    </div>

    <div class="campo">
        <input type="text" id={{formLabels.username}} name={{formLabels.username}} formControlName={{formLabels.username}}>
        <label for={{formLabels.username}}>Username</label>
        <div class="input__required" *ngIf="warning(formLabels.username)">
            <span *ngIf="this.form.controls[formLabels.username].errors?.['required']">* Required</span>
            <span *ngIf="this.form.controls[formLabels.username].errors?.['maxlength']">* Max {{this.formRestrictions.USERNAME_MAX}} characters</span>
            <span *ngIf="this.form.controls[formLabels.username].errors?.['pattern']">* Solo mayusculas, minusculas y/o numeros</span>
        </div>
    </div>

    <div class="campo">
        <input type="password" id={{formLabels.newPassword}} name={{formLabels.newPassword}} formControlName={{formLabels.newPassword}}>
        <label for={{formLabels.newPassword}}>New password</label>
        <div class="input__required" *ngIf="warning(formLabels.newPassword)">
            <span *ngIf="this.form.controls[formLabels.newPassword].errors?.['required']">* Required</span>
            <span *ngIf="this.form.controls[formLabels.newPassword].errors?.['maxlength']">* Max {{this.formRestrictions.PASSWORD_MAX}} characters</span>
            <span *ngIf="this.form.controls[formLabels.newPassword].errors?.['pattern']">* Solo mayusculas, minusculas y/o numeros</span>
        </div>
    </div>

    <div class="actions">
        <button (click)="request()" [disabled]="!this.form.valid" [attr.data-testid]="'passwordRecovery'" [ngClass]="{'valid': form.valid, 'invalid': !form.valid}" [appBgColor]="'--color-complementary-3-bright'" [colorByVariableName]=true>
            <img src="svg/sign-in.svg" alt="">
            <p>Change password</p>
        </button>
    </div>
    
</form>
