.libro__acciones{
    grid-area: acciones;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    & .accion{
        background: transparent;
        cursor: pointer;
        border: none;
        &:hover{
            filter: drop-shadow(var(--color-hover-acciones));
            /* quiero que aumente el tamano cuando hago el hover; */
            transform: scale(1.1);
        }
    }
}