<article class="recomendacion">

    <h2 class="recomendacion__titulo">
        {{recomendacion.titulo}}
    </h2>

    <div class="actions">
        <a (click)="goTo('edit-recommendation')">
            <svg-icon src="svg/edit.svg" [svgStyle]="{'fill': ''}"></svg-icon>
        </a>

        <a (click)="goTo('edit-recommendation')">
            <svg-icon src="svg/delete.svg" [svgStyle]="{'fill': ''}"></svg-icon>
        </a>
    </div>

    <p class="recomendacion__descripcion">
        {{recomendacion.descripcion}}
    </p>

    <div class="recomendacion__libros">
        @for(book of recomendacion.librosRecomendados; track book){
            <div class="libro-recomendado">
                <svg-icon src="svg/recommendedBook.svg" [svgStyle]="{'fill': 'black'}"></svg-icon>
                <p>{{book.titulo}}</p>
            </div> 
        }
    </div>

    <div class="recomendacion__datos">
        <div class="datoIcons">
            <svg-icon src="svg/recommendationScore.svg" [svgStyle]="{'fill': 'gold'}"></svg-icon>
            <p>{{recomendacion.getScore()}}</p>
        </div>
        <div class="datoIcons">
            <svg-icon src="svg/book2.svg" [svgStyle]="{'fill': 'brown'}"></svg-icon>
            <p>{{recomendacion.cantidadLibros}} Libros</p>
        </div>
        <div class="datoIcons">
            <svg-icon src="svg/sandClock.svg" [svgStyle]="{'fill': 'purple'}"></svg-icon>
            <!-- FALTA DARLE LOGICA. ESTO DEPENDERIA DE CADA USUARIO Y SUS FORMAS DE LECTURA -->
            <p>5hs</p>
        </div>
    </div>

    <a class="btn__verMas " (click)="goTo('view-recommendation')" appButtonHoverPressed>Ver Mas>></a>

</article>
