<article >
    <div class="perfil-valoracion">
      <img src="roman.jpg" alt="" />
      <div class="datos">
        <h4>Juanro Man</h4>
        <h4>4.5/5</h4>
        <h4>09/12/2020</h4>
      </div>
    </div>
    <p class="descripcion ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
      sapiente vitae omnis blanditiis cum similique illo veniam vel
      inventore quas aspernatur eius eaque consequuntur at, minima
      repellendus vero dolores. Laudantium.
    </p>
  </article>
