

.opcionSeleccionada__info {
    display: grid;
    gap: var(--space-lg);
    padding: var(--space-md);
    overflow-y: auto;  /* permite scroll */
    max-height: 60vh;  /* establece  naximo de altura */
}
.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    & p {
    font-size: var(--text-md);
    font-weight: bold;}

}

.opcionSeleccionada__info::-webkit-scrollbar {
    width: 0.8rem;
    margin-left: 0.5rem;
}

.opcionSeleccionada__info::-webkit-scrollbar-track {
    background-color: var(--color-fondo);
}

.opcionSeleccionada__info::-webkit-scrollbar-thumb {
    background-color: var(--color-header);
    border-radius: 2rem;
}

.formulario-general {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, auto));
    grid-template-rows: 5rem;
    gap: 1rem;
}

.formulario-lectura {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 2rem;

    & label{
        display: flex;
        padding: 1rem;
    }
}

.formulario-criterio {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 2rem;
    & label{
        display: flex;
        padding: 1rem;
    }
} 








