<section class="flex-column opcionSeleccionada padding-md gap-lg">
    <h2>Informacion</h2>
    <div class="flex-column opcionSeleccionada__contenido opcionSeleccionada__info gap-lg  scrollbar">

        <div class="info">
            <h3>General</h3>
            <form class="formulario-general">
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>nombre</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>apellido</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>username</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>fecha de nacimiento</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>email</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>tiempo de lectura promedio</label>
                </div>
            </form>
        </div>

        <hr>

        <div class="info">
            <h3>Forma de lectura</h3>
            <form class="formulario-lectura">
                <app-input-box inputType="radio" name="radio__input" label="Promedio" ></app-input-box>
                <app-input-box inputType="radio" name="radio__input" label="Ansioso" ></app-input-box>
                <app-input-box inputType="radio" name="radio__input" label="Fanático" ></app-input-box>
                <app-input-box inputType="radio" name="radio__input" label="Recurrente" ></app-input-box>
            </form>

        </div>

        <hr>

        <div class="info">
            <h3>Criterio de busqueda</h3>
            <form class="formulario-criterio">
                <app-input-box inputType="checkbox" label="Precavido" ></app-input-box>
                <app-input-box inputType="checkbox" label="Demandante" ></app-input-box>
                <app-input-box inputType="checkbox" label="Cambiante" ></app-input-box>
                <app-input-box inputType="checkbox" label="Leedor" ></app-input-box>
                <app-input-box inputType="checkbox" label="Nativista" ></app-input-box>
                <app-input-box inputType="checkbox" label="Poliglota" ></app-input-box>
                <app-input-box inputType="checkbox" label="Experimentado" ></app-input-box>
                <app-input-box inputType="checkbox" label="Calculador" (change)="mostrarCalculador.show()" ></app-input-box>
                
            </form>
        </div>

        <form id="nuevosInputs" *ngIf="mostrarCalculador.mostrar">
            <div class="campo">
                <label>LIMITE MINIMO</label>
                <input type="text" inputmode="numeric" required>
            </div>
            <div class="campo">
                <label>LIMITE MAXIMO</label>
                <input type="text" inputmode="numeric" required>
            </div>
        </form>
    </div>
</section>