<section class="flex-column opcionSeleccionada padding-md gap-lg">
    <h2>Informacion</h2>
    <div class="flex-column opcionSeleccionada__contenido opcionSeleccionada__info gap-lg  scrollbar">

        <div class="info">
            <h3>General</h3>
            <form class="formulario-general">
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>nombre</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>apellido</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>username</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>fecha de nacimiento</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>email</label>
                </div>
                <div class="campo input__label--effect">
                    <input type="text" required>
                    <label>tiempo de lectura promedio</label>
                </div>
            </form>
        </div>

        <hr>

        <div class="info">
            <h3>Forma de lectura</h3>
            <form class="formulario-lectura">
                <label class="radiobox-input">
                    <input type="radio" name="radio__input" />
                    <h4 class="normal-font">Promedio</h4>
                </label>
                <label class="radiobox-input">
                    <input type="radio" name="radio__input" />
                    <h4 class="normal-font">Ansioso</h4>
                </label>
                <label class="radiobox-input">
                    <input type="radio" name="radio__input" />
                    <h4 class="normal-font">Fanatico</h4>
                </label>
                <label class="radiobox-input">
                    <input type="radio" name="radio__input" />
                    <h4 class="normal-font">Recurrente</h4>
                </label>
            </form>

        </div>

        <hr>

        <div class="info">
            <h3>Criterio de busqueda</h3>
            <form class="formulario-criterio">
                <label class="checkbox-input">
                    <input type="checkbox" />
                    <h4 class="normal-font">Precavido</h4>
                </label>
                <label class="checkbox-input">
                    <input type="checkbox" />
                    <h4 class="normal-font">Demandante</h4>
                </label>
                <label class="checkbox-input">
                    <input type="checkbox" />
                    <h4 class="normal-font">Cambiante</h4>
                </label>
                <label class="checkbox-input">
                    <input type="checkbox" />
                    <h4 class="normal-font">Leedor</h4>
                </label>
                <label class="checkbox-input">
                    <input type="checkbox" />
                    <h4 class="normal-font">Nativista</h4>
                </label>
                <label class="checkbox-input">
                    <input type="checkbox" />
                    <h4 class="normal-font">Poliglota</h4>
                </label>
                <label class="checkbox-input">
                    <input type="checkbox" />
                    <h4 class="normal-font">Experimentado</h4>
                </label>
                <label class="checkbox-input">
                    <input type="checkbox" id="myCheck" onclick="myFunction()">
                    <h4 class="normal-font">Calculador</h4>
                </label>
            </form>
        </div>

        <form id="nuevosInputs" class="noDisplay">
            <div class="campo">
                <label>LIMITE MINIMO</label>
                <input type="text" inputmode="numeric" required>
            </div>
            <div class="campo">
                <label>LIMITE MAXIMO</label>
                <input type="text" inputmode="numeric" required>
            </div>
        </form>
    </div>
</section>