.campo {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

    & input {
        border-radius: 1rem;
        border-color: var(--color-fondo);
        outline: none;
        cursor: pointer;
        padding: 1rem;
    }
    
    & label {
        text-transform: uppercase;
        pointer-events: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--text-xxs);
        font-weight: normal;
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        transition: 0.35s;
    }
    
    & input:focus {
        border-color: var(--color-searchbar);
        border-radius: 1rem;
    }
}

div input:focus ~ label,
div input:user-valid ~ label {
    transform: translateY(-2rem);
    font-size: 1em;
    background-color: var(--color-searchbar);
    border: 1px solid;
    border-radius: 1rem;
    border-color: var(--color-searchbar);
    filter: brightness(110%);
    padding: 0.2rem;
}


/* ajustar medidas del imput, font height, etc */
.error-message{
    color: red;
}
.nombreApellido{
    height: 3rem;
    width: auto;
    
}
.usuario {
    height: 3rem;
    width: auto;
}

.password {
    
    height: 3rem;
    width: auto;
}

.email {
    height: 3rem;
    width: auto;
    
}

.texto {
    border-radius: 1rem;
    height: 30rem;
    width: 60rem;
    padding: 2rem;
    border: 2px solid var(--color-fondo);
    /* border-color: var(--color-fondo); */

    &.texto:focus {
        border-color: var(--color-searchbar); /* Cambiar el color del borde al enfocar */
        outline: none;                       /* Quitar el contorno por defecto */
    }
    
}


.fecha {
    height: 3rem;
    width: auto;
    
    color: white;
    
    
}
input:user-valid, input:focus{
    color: black;
}


.numero {
    height: 3rem;
    width: auto;
    
}

.numero::-webkit-outer-spin-button,
.numero::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}

.nav {
    height: 3rem;
    width: auto;
}
