.botones-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: var(--space-lg);
    width: 100%;
    height: auto;
    background-color: var(--color-fondo);
}


.btn-guardar {
    height: 5rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: var(--text-md);
    background: linear-gradient(to bottom, var(--color-save), var(--color-save-gradient));
    filter: drop-shadow(0 0 0.75rem rgb(78, 76, 77));
    transition: filter 0.3s ease;

    &:hover {
        filter: brightness(140%);
    }
}
