
.user__identification{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    
    justify-content: center;
    align-items: center;
    align-content: center;

    color: white;

    & img{
        width: var(--image-small);
        height: var(--image-small);
        border-radius: 50%;
    }
    
}


@media screen and (max-width: 600px) {
    .user__identification{
        display: none;
    }
}
