.recomendattions__container{
    padding: var(--space-xl);

    display: grid;
    gap: var(--space-xl);
    
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 28rem), 1fr));
    grid-auto-rows: 35rem;
    justify-items: center;
}

.absolutePosition {
    position: fixed;
    bottom: 8rem;
    justify-items: center;
}

.message__container{
    display: flex;
    height: fit-content;
    justify-content: center;
}

.message__phrase{
    max-width: 75%;
    min-width: 60%;
    font-size: var(--space-lg);

    background-color: #2196f3;
    border-radius: 1rem;
    padding: 1rem;
}

.message__link{
    cursor: pointer;
    font-weight: bold;
}